.app-container {
  background-color: var(--body-background);
  min-height: 100svh;

  display: flex;
  justify-content: center;

  padding-top: 2rem;
  padding-bottom: 1.5rem;

  main {
    width: 24rem;

    display: flex;
    flex-direction: column;

    h1 {
      text-align: center;
    }

    app-actions {
      margin-top: 3rem;
    }
    
    app-timer {
      margin-top: 0.5rem;
    }

    app-explanation {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    app-credits {
      margin-top: auto;
    }
  }

  app-page-options {
    position: absolute;
    right: 0.1rem;
    top: 0.1rem;
  }
}